<form [formGroup]="userForm">
    <div class="container">
        <div class="form-group">
            <h3 class="head">Sing-in</h3>
            <div class="mb-3">
                <label for="Email" class="form-label">Email address</label>
                <input type="email" #email class="form-control" name="email" formControlName="email" id="email">
                <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                    Email is Required</div>
                <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                    Email is Invalid </div>
                <div id="email" class="form-text">We'll never share your email with anyone else.</div>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="password" #pwd class="form-control" name="password" formControlName="pwd" id="Password1">
                <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.dirty || PWD.touched)">
                    Password
                    is Required
                </div>
                <div class="form-text text-danger"
                    *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
                    Password should
                    be atleast 6 and max 15
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="subscribe" id="Checkbox1">
                <label class="form-check-label" for="Checkbox1">Remember Me</label>
            </div>

            <button type="submit" (click)="getEmail();getPassword()" class="btn btn-primary">Submit</button>
            <div>
                <h6><a href="###">Link 1</a></h6>
                <h6><a href="####">Link 2</a></h6>
                <h6><a href="#####">Link 4</a></h6>
            </div>
        </div>
        <div class="border border-info rounded">
            <h6>You can get the input value in *Locals Storage</h6>

        </div>
    </div>

</form>